<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{header}">
</head>
<body class="col col-6 mx-auto">
<div th:insert="~{navbar}"></div>
<table class ="table mt-3">
    <thead>
    <th>ID</th>
    <th>NAME</th>
    <th>SURNAME</th>
    <th>EXAM</th>
    <th>MARK</th>
    </thead>
    <tbody>
    <tr th:each="student : ${studenty}"
        th:style="${student.getMark() == 'F' ? 'color:red' : 'color:default'}" >
        <td th:text="${student.getId()}"></td>
        <td th:text="${student.getName()}"></td>
        <td th:text="${student.getSurname()}"></td>
        <td th:text="${student.getExam()}"></td>
        <td th:text="${student.getMark()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>